.grid {
  margin: auto;
  width: 80%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.grid__pair {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.grid__item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.grid__item--left {

}
