// Main page structure.
.site {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto;
}

.site-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.site-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.site-footer {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

// Content area structure.
.site-content {
  display: grid;
  grid-template-columns: 6fr 2rem 2fr;
  grid-template-rows: auto;
}

.content-area {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.widget-area {
  grid-column: 3 / 4;
  grid-row: auto;
}
