/* Layout Elements */

/* Button */
$blocks-button__height: 46px;
$blocks-button__line-height: $big-font-size + 6px;

.wp-block-button {
  margin-bottom: 1.5em;

  & .wp-block-button__link {
    border: none;
    border-radius: $blocks-button__height / 2;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: $big-font-size;
    line-height: $blocks-button__line-height;
    margin: 0;
    padding: ( $blocks-button__height - $blocks-button__line-height ) / 2 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    word-break: break-all;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }
}

.wp-block-button__link:not(.has-background) {
  background-color: $dark-gray-700;
  &:hover,
  &:focus,
  &:active {
    background-color: $dark-gray-700;
  }
}

.wp-block-button__link:not(.has-text-color) {
  color: $white;
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

/* Columns */
/* More [used to be called 'read more'] */
/* Page break */
/* Seperator */
/* Spacer */
/* Text Columns */
