$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Warm theme
// $color__primary: rgb(255, 143, 0);
// $color__primary--dark: rgb(197, 96, 0);
// $color__primary--light: rgb(255, 192, 70);
// $color__secondary: rgb(244, 81, 29);
// $color__secondary--dark: rgb(185, 20, 0);
// $color__secondary--light: rgb(255, 132, 75);

// Cool theme
$color__primary: rgb(63, 81, 181);
$color__primary--dark: rgb(0, 41, 132);
$color__primary--light: rgb(117, 125, 232);
$color__secondary: rgb(0, 105, 92);
$color__secondary--dark: rgb(0, 61, 51);
$color__secondary--light: rgb(67, 152, 137);
