.site-header {
  background-color: $color__primary--light;
  padding: 1rem;
}

// The fake FontAwesome Logo.
.site-branding .fa-paper-plane {
  color: rgb(255, 255, 255);
  margin: 1rem 0 0 0;
}

.site-title a {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-decoration: none;
}

.site-description {
  color: rgb(255, 255, 255);
  font-style: italic;
}
