.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
  padding: 2rem;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site {
  padding: 0 3em;
}

.site-main {
  background: rgb(255, 255, 255);
}

.entry-title {
  color: $color__primary--dark;
  padding: 0.5rem 0;
  text-align: center;
}

@import "pages/home-page";
